<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxtx.hummer.account.dao.mapper.EmployeeAccountLogMapper">

    <select id="selectByEmployeeId" resultType="com.zxtx.hummer.account.dto.EmployeeAccountLogDTO">
        select *
        from employee_account_log
        where employee_id = #{employeeId}
          AND change_balance > 0
          AND user_focus = 1
        order by create_time desc,id desc
    </select>
</mapper>
