<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxtx.hummer.insurance.dao.mapper.DiInsuranceOrderMapper">

    <select id="selectByParam" resultType="com.zxtx.hummer.insurance.vo.DiInsuranceOrderVO">
        SELECT
        a.id,
        c.name as storeName,
        d.name as storeEmployeeName,
        d.mobile_number as storePhone,
        b.name as insuranceName,
        a.price,
        a.product_name,
        a.custom_name,
        a.custom_phone,
        a.id_card,
        a.imei_no,
        a.status,
        a.sub_status,
        a.create_time,
        f.pay_time
        FROM di_insurance_order a
        left join di_insurance b on a.insurance_id = b.id
        left join company c on a.store_company_id = c.id
        left join employee d on a.store_employee_id = d.id
        left join di_insurance_order_payment f on a.id = f.insurance_order_id
        <where>
            1=1
            <if test="imeiNo != null and imeiNo != '' ">
                and a.imei_no LIKE concat(#{imeiNo}, '%')
            </if>
            <if test="id != null">
                and a.id = #{id}
            </if>
            <if test="storePhone != null and storePhone != '' ">
                and d.mobile_number LIKE concat(#{storePhone}, '%')
            </if>

            <if test="customName != null and customName != '' ">
                and a.custom_name LIKE concat(#{customName}, '%')
            </if>

            <if test="customPhone != null and customPhone != '' ">
                and a.custom_phone LIKE concat(#{customPhone}, '%')
            </if>

            <if test="insuranceName != null and insuranceName != '' ">
                and b.name LIKE concat(#{insuranceName}, '%')
            </if>
            <if test="status != null">
                and a.status = #{status}
            </if>
            <if test="subStatus != null">
                and a.sub_status = #{subStatus}
            </if>
            <if test="payStartTime != null">and f.pay_time<![CDATA[>= ]]>#{payStartTime}</if>
            <if test="payEndTime != null">and f.pay_time<![CDATA[<= ]]>#{payEndTime}</if>
            <if test="applyStartTime != null">and a.create_time<![CDATA[>= ]]>#{applyStartTime}</if>
            <if test="applyEndTime != null">and a.create_time<![CDATA[<= ]]>#{applyEndTime}</if>
        </where>
        order by a.sub_status asc,a.create_time desc
    </select>

    <select id="statGroupByEmployee" resultType="com.zxtx.hummer.mobileStat.domain.CompanyDataDailyBase">
        SELECT
            store_employee_id AS employeeId,
            count( 1 ) AS insuranceAnyNum
        FROM
            di_insurance_order
        WHERE
            insurance_type = #{insuranceType} and status=2 and  create_time between #{beginTime} and #{endTime}
        GROUP BY
            store_employee_id
    </select>


</mapper>