<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxtx.hummer.mbr.dao.MbrPreOrderMapper">

    <select id="selectBySearch" resultType="com.zxtx.hummer.mbr.response.MbrPreOrderVO">
        SELECT
        a.id as id,
        a.custom_name,
        a.custom_phone,
        a.id_card,
        a.product_type,
        a.product_name,
        a.product_spec,
        a.period,
        c.name as storeCompanyName,
        d.name as employeeName,
        d.mobile_number as mobileNumber,
        e.name as recyclerCompanyName,
        a.status as preOrderStatus,
        b.status as orderStatus,
        a.create_time
        FROM
        `mbr_pre_order` a
        LEFT JOIN mbr_order b on a.id = b.pre_order_id
        LEFT JOIN company c on a.store_company_id = c.id
        LEFT JOIN employee d on a.store_employee_id = d.id
        LEFT JOIN company e on a.recycler_company_id = e.id
        <where>
            <if test="req.startTime != null">and a.create_time<![CDATA[>= ]]>#{req.startTime}</if>
            <if test="req.endTime != null">and a.create_time<![CDATA[<= ]]>#{req.endTime}</if>
            <if test="req.orderId != null and req.orderId != '' ">
                and a.id = #{req.orderId}
            </if>
            <if test="req.customName != null and req.customName != '' ">
                and a.custom_name = #{req.customName}
            </if>
            <if test="req.storeCompanyName != null and req.storeCompanyName != '' ">
                and c.name = #{req.storeCompanyName}
            </if>
        </where>
        order by a.create_time desc
    </select>


</mapper>