<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxtx.hummer.em.dao.mapper.ExtEmMapper">
    <update id="changeChannelEmStatus">
        UPDATE employee
        SET status      = #{employee.status},
            update_time = #{employee.updateTime},
            updator     = #{employee.updator}
        WHERE status = #{oldStatus}
          AND (dept_code = #{code} or dept_code LIKE CONCAT(#{code}, '-%'))
    </update>


    <update id="updateDeptCode">
        UPDATE employee e SET e.dept_code = (SELECT d.code FROM dept d WHERE e.dept_id = d.id),e.update_time =
        #{updateTime},e.updator = #{updator},
        e.company_id=#{newCmpId},e.company_type=#{newCompanyType}
        where e.company_id in
        <foreach collection="cmpIds" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="deptCode != null">
            AND (e.dept_code = #{deptCode} OR e.dept_code LIKE CONCAT(#{deptCode}, '-%'))
        </if>
    </update>

    <select id="queryTokenByDeptCode" resultType="java.util.Map">
        SELECT el.token as token, e.dept_code as deptCode FROM employee_login el
        INNER JOIN (
        SELECT id, dept_code FROM employee
        <where>
            <if test="deptCode != null">
                AND (dept_code = #{deptCode} OR dept_code LIKE CONCAT(#{deptCode}, '-%'))
            </if>
        </where>
        ) e
        ON el.user_id = e.id
        WHERE el.token_expire &gt; #{currDate}
    </select>

    <select id="pageListEm" resultType="com.zxtx.hummer.em.vo.EmLsRps" parameterType="com.zxtx.hummer.em.vo.EmLsReq">
        SELECT employee.id,employee.`status`,employee.`name` employee_name,employee.mobile_number
        ,dept.`name` dept_name,dept.id deptId,dept.status dept_status,
        company.`name` company_name,company.`status` company_status
        ,em.name mDeptMan,em.mobile_number mDeptManMobile,employee.ancestors
        , ea.able_balance
        from employee
        LEFT JOIN dept on employee.dept_id=dept.id
        LEFt JOIN employee_account ea on ea.employee_id = employee.id
        LEFT JOIN company on employee.company_id=company.id
        LEFT JOIN employee em on em.dept_id=dept.id and em.type in (1,3) and em.status=1
        <where>
            1=1
            <if test="deptCodes !=null and deptCodes !=''">
                and employee.dept_code like '${deptCodes}%'
            </if>
            <if test="mobileNumber!=null and mobileNumber!=''">
                and employee.mobile_number=#{mobileNumber}
            </if>
            <if test="companyName!=null and companyName!=''">
                and company.`name`=#{companyName}
            </if>

            <if test="status!=null and status!=''">
                and employee.`status`=#{status}
            </if>
            <if test="companyStatus!=null and companyStatus!=''">
                and company.`status`=#{companyStatus}
            </if>
            <if test="deptStatus!=null and deptStatus!=''">
                and dept.`status`=#{deptStatus}
            </if>
            <if test="employeeName!=null and employeeName!=''">
                and employee.name like '%${employeeName}%'
            </if>
            <if test="deptName!=null and deptName!=''">
                and dept.name like '%${deptName}%'
            </if>
        </where>
        order by employee.create_time desc, company.id asc, dept.id asc
    </select>

</mapper>